.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
}

.profile__title {
	margin: 74px 0 123px 0;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	max-width: 600px;
	max-height: 300px;
	overflow: hidden;
}

.profile__text-container {
	width: 410px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #424242;
	padding-bottom: 16px;
	font-size: 11px;
	line-height: 13px;
	font-weight: 500;
	gap: 10px;
	overflow-wrap: break-word;
}

.profile__text-container:nth-of-type(2n) {
	border: none;
	padding-bottom: 0;
	margin-top: 17px;
}

.profile__label {
	margin: 0;
	max-width: 50%;
}

.profile__value {
	margin: 0;
	max-width: 50%;
}

@media screen and (max-width: 600px) {
	.profile__text-container {
		width: 260px;
	}
}
